.box {
    background-color: #161B22;
    border-radius: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80vw;
    max-width: 600px;
}

.linha-box {
    border: 1px solid #0D1117;
    margin: 10px 40px;
    border-radius: 10px;
}

.linha-box:hover {
    background-color: #0D1117;
    cursor: pointer;
}

.icone-circulo {
    background-color: #0D1117;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.8em;
}

.titulo-prioridade {
    color: #00D8FF;
    padding-top: 30px;
    font-weight: bold;
}

.titulo-modal {
    color: #00D8FF;
    font-weight: bold;
}

.div-botao-adicionar {
    margin-top: 3em;
}

.div-botao-deletar {
    padding-top: 2em;
}

#modal-confirma-delecao {
    width: 30%;
    height 30%; !important
    color: #C9D1D9; !important;
    background-color: #161B22; !important;
}

@media only screen and (max-width: 600px) {
  #modal-confirma-delecao.modal {
    width: 80% !important;
  }

.progress {
  height: 8px;
  background-color: #0d1117;
  border-radius: 14px;
  overflow: hidden;
  margin: 10px 0;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.6);
}

.determinate.progresso {
  background: linear-gradient(90deg, #00D8AA, #00D8FF;); /* efeito gradiente moderno */
  height: 100%;
  border-radius: 14px 0 0 14px; /* arredonda só o lado esquerdo */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #161B22;
  font-weight: bold;
  font-size: 10px;
}

input::placeholder {
  color: #9ca3af;
  opacity: 0.6;
  font-style: italic;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
    .linha-box .col.s8 {
        padding-left: 28px;
    }

    .linha-box .col.s2:last-child .div-botao-deletar a {
        margin-left: -12px;
      }
 }