body {
    background-color: #0D1117;
    color: #C9D1D9;
}

.container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: #161B22; !important;
    color: #C9D1D9; !important;
    height: 80%; !important;
    max-height: 80% !important;
}

input {
    color: #C9D1D9; !important;
    background-color: #161B22; !important;
}

label {
    font-size: 1.2rem !important;
}

.dropdown-content {
    background-color: #161B22; !important;
}