<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Prioridades</title>
    <!-- CSS  -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet">
    <link th:href="@{/materialize/css/materialize.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/default/css/default.css}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<div class="row"></div>

<!-- TOP 3 PRIORIDADES -->
<div class="container container-center">
    <div class="row">
        <div class="col s12">
            <div class="box">
                <div class="row">
                    <div class="col s10">
                        <h5 class="titulo-prioridade">Top 3 Prioridades</h5>
                    </div>
                    <div class="col s2 div-botao-adicionar">
                        <a class="btn-floating btn waves-effect waves-light disabled"><i class="material-icons">add</i></a>
                    </div>
                </div>

                <div class="row linha-box">
                    <div class="col s2">
                        <div class="icone-circulo">
                            <i class="material-icons">attach_money</i>
                        </div>
                    </div>

                    <div class="col s8">
                        <p>Reserva de emergência</p>
                        <div class="progress">
                            <div class="determinate progresso" style="width: 80%">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>

                    <div class="col s2">
                        <div class="div-botao-deletar">
                            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="row linha-box">
                    <div class="col s2">
                        <div class="icone-circulo">
                            <i class="material-icons">airplanemode_active</i>
                        </div>
                    </div>

                    <div class="col s8">
                        <p>Viagem Bahia</p>
                        <div class="progress">
                            <div class="determinate progresso" style="width: 50%"></div>
                        </div>
                    </div>

                    <div class="col s2">
                        <div class="div-botao-deletar">
                            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="row linha-box">
                    <div class="col s2">
                        <div class="icone-circulo">
                            <i class="material-icons">laptop</i>
                        </div>
                    </div>
                    <div class="col s8">
                        <p>Notebook</p>
                        <div class="progress">
                            <div class="determinate progresso" style="width: 20%">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>

                    <div class="col s2">
                        <div class="div-botao-deletar">
                            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- OUTRAS PRIORIDADES -->
<div class="container container-center">
    <div class="row">
        <div class="col s12">
            <div class="box">
                <div class="row">
                    <div class="col s10">
                        <h5 class="titulo-prioridade">Outras Prioridades</h5>
                    </div>
                    <div class="col s2 div-botao-adicionar">
                        <a class="btn-floating btn waves-effect waves-light"><i class="material-icons">add</i></a>
                    </div>
                </div>

                <div class="row linha-box">
                    <div class="col s2">
                        <div class="icone-circulo">
                            <i class="material-icons">attach_money</i>
                        </div>
                    </div>

                    <div class="col s8">
                        <p>Reserva de emergência</p>
                        <div class="progress">
                            <div class="determinate progresso" style="width: 80%">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>

                    <div class="col s2">
                        <div class="div-botao-deletar">
                            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="row linha-box">
                    <div class="col s2">
                        <div class="icone-circulo">
                            <i class="material-icons">airplanemode_active</i>
                        </div>
                    </div>

                    <div class="col s8">
                        <p>Viagem Bahia</p>
                        <div class="progress">
                            <div class="determinate progresso" style="width: 50%"></div>
                        </div>
                    </div>

                    <div class="col s2">
                        <div class="div-botao-deletar">
                            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>
                </div>

                <div class="row linha-box">
                    <div class="col s2">
                        <div class="icone-circulo">
                            <i class="material-icons">laptop</i>
                        </div>
                    </div>
                    
                    <div class="col s8">
                        <p>Notebook</p>
                        <div class="progress">
                            <div class="determinate progresso" style="width: 20%">
                                <span>90%</span>
                            </div>
                        </div>
                    </div>

                    <div class="col s2">
                        <div class="div-botao-deletar">
                            <a class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons">delete</i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>

<!--  Scripts-->
<script th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script th:src="@{/materialize/js/materialize.js}"></script>
</html>
